# Lombok confuguration, see https://projectlombok.org/features/configuration.html

# To stop lombok from looking for more configuration files
config.stopBubbling = true

# Generated setters will 'chain' by default (They will return this instead of having a void return type).
lombok.accessors.chain = true
# Lombok will not generate a @java.beans.ConstructorProperties annotation when generating constructors.
lombok.anyConstructor.suppressConstructorProperties = true
# Lombok will access fields directly instead of using getters when generating toString methods.
lombok.toString.doNotUseGetters = true
# Lombok will access fields directly instead of using getters when generating equals and hashCode methods.
lombok.equalsAndHashCode.doNotUseGetters = true
# Lombok will generate calls to the superclass implementation of hashCode and equals if your class extends something.
lombok.equalsAndHashCode.callSuper = call

# Disable usage of the following Lombok features:
lombok.experimental.flagUsage = error
lombok.cleanup.flagUsage = error
lombok.log.apacheCommons.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error
lombok.sneakyThrows.flagUsage = error
lombok.synchronized.flagUsage = error
lombok.val.flagUsage = error
